<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XJImageFielter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACE8EE8D1E81017B007C1FD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACE8EEA11E81017B007C1FD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACE8EEAC1E81017C007C1FD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
